<div>
    <iframe  id="main" name="main" style="background:#fff;width: 100%;" frameborder="0" class="appiframe" src="{:U('index/content')}" >

    </iframe>

</div><!-- /.row -->
<!--<a href="#" id="btn-scroll-up"
   class="btn-scroll-up btn btn-sm btn-inverse"> <i
        class="icon-double-angle-up icon-only bigger-110"></i> </a>-->
<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/fullcalendar.css" />
<script type="text/javascript">
	window.jQuery || document.write("<script src='__PUBLIC__/Admin/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
</script>
<script src="__PUBLIC__/Admin/assets/js/fullcalendar.min.js"></script>
<script type="text/javascript">
var h = $(window).height()-90;
var w = $(window).width()-220;

$("#main").css("height",h);
//$("#main").css("width",w);
</script>


