<script src='__PUBLIC__/Admin/assets/js/jquery-2.0.3.min.js'></script>
<link href="__PUBLIC__/Admin/login/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
<link href="__PUBLIC__/Admin/login/css/animate.min.css" rel="stylesheet">
<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />
<link href="__PUBLIC__/Admin/login/css/plugins/toastr/toastr.min.css" rel="stylesheet">
<script src="__PUBLIC__/Admin/login/js/plugins/toastr/toastr.min.js"></script>
<link href="__PUBLIC__/Admin/login/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/Admin/login/css/animate.min.css" rel="stylesheet">
<link href="__PUBLIC__/Admin/login/css/style.min.css" rel="stylesheet">
<link href="__PUBLIC__/Admin/login/css/login.min.css" rel="stylesheet">
<link rel="shortcut icon" href="favicon.ico">
<link href="__PUBLIC__/Admin/login/css/style.min862f.css?v=4.1.0" rel="stylesheet">
<style>
    .remove_d{font-size:20px;margin:0 10px 0 0;}
    #resgcon{padding:40px;}
    .pb_10{margin:0 0 10px 0;}
    .color666{color:#666;}
    .colorfff{color:#fff;}
</style>
<!--
  toastr.error("<i class='remove_d icon-warning-sign'></i>请选择姓名！");
   toastr.success("<i class='remove_d icon-ok'></i>请选择姓名！");
-->
<script>
   /* toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "onclick": null,
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "9000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }*/
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "progressBar": false,
        "positionClass": "toast-top-right",
        "onclick": null,
        "showDuration": "400",
        "hideDuration": "1000",
        "timeOut": "7000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
</script>
