<include file="common:header" />
<body>
 <style>
.main-content {
  margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0;
}.input-style input{border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;
     background:#f3f3f3;float:left;}
.input-style label{float:left;}
.nbname_style{margin:4px 14px 0 10px;}
.nbname_style1{margin:6px 0px 0 10px;}
</style>
<div class="main-container" id="main-container">
  <div class="main-container-inner">
    <div class="main-content">
      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="widget-box transparent" id="recent-box">
              <div class="widget-header">
                <div class="widget-toolbar no-border">
                  <ul class="nav nav-tabs" id="recent-tab">

                    <li class="active"><a href="{:U(CONTROLLER_NAME . '/index',array('class'=>$getclass))}">
                        <if condition="$getclass eq '1' ">
                            面试通过列表
                            <elseif condition="$getclass eq 2"/>到岗人员列表</if>
                    </a></li>
                    <li><a href="{:U(CONTROLLER_NAME . '/add',array('class'=>$getclass))}">添加</a> </li>
                  </ul>
                </div>
              </div>
            </div>
            <br>
            <div class="main-container" id="main-container"> 
              <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
              <div>
                <form action="{:u(CONTROLLER_NAME . '/index',array('class'=>$getclass))}">
                    <div style="width:100%;float:left;margin:0 0 20px 0;" class="input-style">
                        <label class="nbname_style">姓名</label>
                        <input  value="{$fdata.name}" type="text" id="name"
                                placeholder="请输入姓名" name="name"
                                class="col-xs-10 col-sm-2"/>
                        <a class="search" href="javascript:$('form').submit()">查询</a> </div>
                    <div style="clear: both;"></div>
                </form>
              </div>

              <div class="main-container-inner">

                <div class="row">
                  <div class="col-xs-12"> 
                    <!-- PAGE CONTENT BEGINS -->
                    <!-- <a href="#" class="all_val" >批量删除</a>-->
                    <div class="table-responsive">
                      <table id="sample-table-1"
						 class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                              <td>ID</td>
                            <td>姓名</td>
                            <td>申请职位</td>
                              <td>入职时间</td>
                               <td>待遇</td>
                              <td>联系电话</td>
                            <td>创建时间</td>
                            <td>操作</td>
                          </tr>
                        </thead>
                        <tbody>
                          <volist name="list" id="vo">
                            <tr>
                              <input type="hidden" name="interview_id" id="interview_id" value="{$vo.interview_id}" />
                                <td>{$vo.interview_id}</td>
                              <td>{$vo.interview_name}</td>
                                <td>{$vo.station_id|readStation=###}</td>
                                <td class="hidden-480"> {$vo.interview_entry_time|date="Y-m-d ",###} </td>
                             <td class="hidden-480">{$vo.interview_salary}</td>
                              <td class="hidden-480">{$vo.interview_tel}</td>
                                <td class="hidden-480"> {$vo.interview_add_time|date="Y-m-d  H:i:s",###} </td>
                                <td>
<a href="{:u(CONTROLLER_NAME . '/editData',array('par'=>'edit','class'=>$getclass,'interview_id'=>$vo['interview_id']))}"> [编辑] </a>
                                    <a class="del" href="#"  data-id="{$vo.interview_id}">[删除]</a>
                            </td>
                            </tr>
                          </volist>
                        </tbody>
                      </table>
                        <if condition="$not_found eq '1' "><p style="text-align: center; color: #ccc;">您还没有创建过数据&nbsp;<a href="{:u(CONTROLLER_NAME . '/add',array('class'=>$getclass))}">[点击创建]</a></p>
                        </if>
                        <if condition="$not_found eq '2' "><p style="text-align: center; color: #ccc;">未搜索到任何数据&nbsp;<a href="{:u(CONTROLLER_NAME . '/index',array('class'=>$getclass))}">[返回上一页]</a></p>
                        </if>
                      <ul  class="fy_li">
                        {$page}
                      </ul>
                    </div>
                    <!-- /.table-responsive -->
                      <script type="text/javascript">
                          //全选checkbox
                          function allcheckbox(obj){
                              checkAll(obj,'.box');
                          }
                          //执行批量删除
                          $(".all_val").click(function () {
                              var class_status = {$getclass};
                              var list_id = getcheckVal('checkbox_volist');
                              if (list_id == '') {
                                  alert('请选择数据！');
                                  return false;
                              }
                              if(confirm('确定要删除？')) {
                                  var data = "list=" + list_id.join(',') + "&interview_status=0&class="+class_status;
                                  AjaxSubmit('delete_data', data,1);
                              }
                              return false;
                          });
                          //单条数据删除
                          $('.del').click(function(){
                              var class_status = {$getclass};
                              var id = $(this).attr('data-id');
                              var data = "interview_id="+id+"&interview_status=0&class="+class_status;
                              if(confirm('确定要删除？')) {
                                  AjaxSubmit('delete_data', data,1);
                              }
                              return false;
                          });
                      </script>
                    <!-- PAGE CONTENT ENDS --> 
                  </div>
                  <!-- /.col --> 
                </div>
                <!-- /.row --> 
                
              </div>
              <!-- /.main-container-inner --> 
              
            </div>
            <!-- /.main-container --> 
          </div>
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
    <!-- /.main-content --> 
    
  </div>
  <!-- /.main-container-inner --> 
  
    </div>
<include file="common:footer" />
