<include file="ncommon:header" />
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Components/ueditor1_4_3-utf8-php/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Components/ueditor1_4_3-utf8-php/ueditor.all.min.js"> </script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/Components/ueditor1_4_3-utf8-php/lang/zh-cn/zh-cn.js"></script>
<script src="__PUBLIC__/Admin/hplus/js/jquery.min.js?v=2.1.4"></script>
</head>

<body class="gray-bg">
<script type="text/javascript">
    var ue = UE.getEditor('container');

    $().ready(function() {
        $("form").validate({
            submitHandler:function(form){
                var text = ue.getContent();
                var name = $('#name').val();
                if(name == ''){
                    alert('请输入标题！');
                    return false;
                }
                if(text == ''){
                    alert('请输入内容！');
                    return false;
                }
                form.submit();
            }
        });
    });
    //修改
    function savedata(e){
        var url = "<?php echo u(CONTROLLER_NAME . '/editData');?>";
        subDate(e,url);
    }
    //创建新数据
    function adddata(e){
        var url = "<?php echo u(CONTROLLER_NAME . '/add');?>";
        subDate(e,url);
    }
    function subDate(e,url){

        var id= '';
        var text = ue.getContent();
        var name = $('#name').val();
        id += $('#id').val();
        if(name == ''){
            alert('请输入标题！');
            return false;
        }
        if(text !== ''){
            $(e).attr('disabled',true);
            // disabled="disabled"
            var data = "text="+text+"&par=sub&name="+name+"&id="+id;
          //  alert(data);  return false;
            AjaxSubmitf(data,url);
        }else{
            alert('请输入内容！');
            return false;
        }
        // alert(fue);
    }
    function AjaxSubmitf(data,url) {

        $.ajax({
            url: url,
            type: "POST",
            dataType: "json",
            data: data,
            success: function (res) {
                if (res.res == '1') {
                    alert("操作成功");
                    location.href="{:U(CONTROLLER_NAME . '/index')}";
                } else {
                    alert("操作失败");
                    location.reload();
                }
            }
        });
    }
</script>
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">

            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><if condition="$list.id eq ''">添加<else />{$list.name}</if>
                        <input type="hidden" value="{$list.id}" name="id" id="id" />
                        </h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="">选项1</a>
                                </li>
                                <li><a href="">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content icons-box">
                        <form role="form" id="form1" method="post" enctype="multipart/form-data" action="">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label style="float: left;line-height: 35px;" class=" control-label" style="text-align: right;line-height: 32px;">文章标题：</label>
                                <div class="col-sm-8">
                                    <input type="text" value="{$list.name}" name="name" id="name" class="form-control" placeholder="请输入文章标题">

                                </div>
                            </div>
                            <div style="clear: both"></div>
                        </div><br><br><br><br>
                      <div>  <textarea id="container" style="width:100%;height:400px;" name="text" >
         {$list.text}
        </textarea></div>
                        <br><br>
                        <a href="javascript:$('#form1').submit();" class="btn btn-primary " type="button"><i class="fa fa-check"></i>
                            &nbsp;提交
                        </a>
                        </form>
                    </div>
                    </div>

            </div>
        </div>
    </div>
    <include file="ncommon:footer" />
</body>
</html>
