<include file="ncommon:header"/>
<link href="__PUBLIC__/Admin/hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">

    <div class="row">

        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><if condition="!empty($list['id'])">编辑-{$list.name}<else />添加</if></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="">选项1</a>
                            </li>
                        </ul>
                        <a class="close-link" href="javascript:location.reload();">
                            <i class="fa fa-refresh"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>

                <div class="ibox-content">

                    <form class="form-horizontal m-t" method='post' action="" name="form" id="commentForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <input type="hidden" name="id" value="{$list.id}">
                            <label class="col-sm-3 control-label">名称：</label>
                            <div class="col-sm-5">
                                <input id="name" value="{$list.name}" name="name" class="form-control" type="text" required aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">公司地点：</label>
                            <div class="col-sm-5">
                                <input id="address"  value="{$list.address}" name="address" class="form-control" type="text" required aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">所属部门：</label>
                            <div class="col-sm-5">
                                <input id="section" value="{$list.section}" name="section" class="form-control" type="text" required aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">职位名称：</label>
                            <div class="col-sm-5">
                                <input id="position" value="{$list.position}" name="position" class="form-control" type="text" required aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">正式入职时间：</label>
                            <div class="col-sm-5">
                                <input id="entry_time" <if condition="!empty($list['entry_time'])">value="{$list.entry_time|date="Y-m-d",###}"</if> name="entry_time" class="laydate-icon form-control layer-date " onclick="ldate()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">工资发放时间：</label>
                            <div class="col-sm-5">
                                <input id="payoff_time" value="{$list.payoff_time}" name="payoff_time" class="form-control" type="text" required aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">试用期工资：</label>
                            <div class="col-sm-5">
                                <input id="salary_a"   value="{$list.salary_a}"  name="salary_a" class="form-control" type="text" >
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">转正时间：</label>
                            <div class="col-sm-5">
                                <input id="become_time" <if condition="!empty($list['become_time'])">value="{$list.become_time|date="Y-m-d",###}"</if>  name="become_time" class="laydate-icon form-control layer-date " onclick="ldate()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">转正工资：</label>
                            <div class="col-sm-5">
                                <input id="salary_b"   value="{$list.salary_b}"  name="salary_b" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">保险待遇：</label>
                            <div class="col-sm-5">
                                <input id="salary_c"  value="{$list.salary_c}"  name="salary_c" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">离职时间：</label>
                            <div class="col-sm-5">
                                <input id="dimission_time"  <if condition="!empty($list['dimission_time'])">value="{$list.dimission_time|date="Y-m-d",###}"</if>  name="dimission_time" class="laydate-icon form-control layer-date " onclick="ldate()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-5">
                                <textarea id="remark" name="remark" class="form-control" rows="5"> {$list.remark}</textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-5 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<include file="ncommon:footer"/>
<script src="__PUBLIC__/Admin/hplus/js/plugins/validate/jquery.validate.min.js"></script>
<script src="__PUBLIC__/Admin/hplus/js/plugins/validate/messages_zh.min.js"></script>
<script src="__PUBLIC__/Admin/hplus/js/demo/form-validate-demo.min.js"></script>
<script src="__PUBLIC__/Admin/hplus/js/plugins/layer/laydate/laydate.js"></script>
<script>
    function ldate(){
        laydate({istime: true, format: 'YYYY-MM-DD'})
    }
</script>
</body>
</html>
