
<include file="common:header"/>
	<body> 
<script>
	$.validator.setDefaults({
		submitHandler: function() {
			//alert("submitted!");
		}
	});

	$().ready(function() {
		// validate the comment form when it is submitted
		$("#commentForm").validate();

		// validate signup form on keyup and submit
		$("#signupForm").validate({
			rules: {
				firstname: "required",
				lastname: "required",
				username: {
					required: true,
					minlength: 2
				},
				password: {
					required: true,
					minlength: 6
				},
				old_password: {
					required: true,
					minlength: 6
				},
				confirm_password: {
					required: true,
					minlength: 6,
					equalTo: "#password"
				},
				email: {
					required: true,
					email: true
				},
				topic: {
					required: "#newsletter:checked",
					minlength: 2
				},
				agree: "required"
			},
			messages: {
				firstname: "Please enter your firstname",
				lastname: "Please enter your lastname",
				username: {
					required: "Please enter a username",
					minlength: "Your username must consist of at least 2 characters"
				},
				password: {
					required: "请输入新密码",
					minlength: "你的密码必须至少6个字符长"
				},
				old_password:{
					required: "请输入旧密码",
					minlength: "你的密码必须至少6个字符长"
				},
				confirm_password: {
					 
					required: "请重复新密码",
					minlength: "你的密码必须至少6个字符长",
					equalTo: "请输入相同的密码"
				},
				email: "Please enter a valid email address",
				agree: "Please accept our policy",
				topic: "Please select at least 2 topics"
			}
		});

		 
	});
	</script>	 
		 

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">


				  

				<div class="main-content">
					 
<style>
.widget-toolbar {
    display: inline-block;
    padding: 0 10px;
    line-height: 37px;
    float: none;
    position: relative;
}
					</style>
					<div class="page-content">
						 <div class="row">
							 
				<div class="col-xs-12">
							 
										<div class="widget-box transparent" id="recent-box">
											<div class="widget-header">
												 

												<div class="widget-toolbar no-border">
													<ul class="nav nav-tabs" id="recent-tab">
																											
														<li>
															<a  href="{:U(CONTROLLER_NAME . '/index')}">客户列表</a>
														</li>
														<if condition="$list.id eq '' "> 
														<li class="active">
															<a href="{:U(CONTROLLER_NAME . '/add')}">添加</a>
														</li>
														<else />
														<li class="active">
															<a href="#">密码修改</a>
														</li>
														</if>

														 
													</ul>
												</div>
											</div>
											
											</div>
											<br>
											<form class="form-horizontal" id="signupForm" role="form">
											  <if condition="$list.pass_initialize eq 0 ">
												<div class="form-group">
											  <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="color:#f00;">*新密码</label>
													 <div class="col-sm-9">
											<input value=""  placeholder=""   id="password" name="password" type="password" class="col-xs-10 col-sm-5" />
										</div></div>
										<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">重复新密码</label>
										<input type="hidden" name="id" id="id" value="{$list.id}" /> 
										<div class="col-sm-9">
											<input value="" type="password" id="confirm_password" placeholder="" name="confirm_password" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
										
										<if condition="$list.id eq '' "> 
													<button class="btn btn-info submit" type="button">
												<i class="icon-ok bigger-110"></i>
												提交	
											</button>	 
												 <else />
													<a  href="javascript:$('form').submit()" class="btn btn-info submit_save" type="button">
												<i class="icon-ok bigger-110"></i>
												修改	
											</a>	
					 
														</if>
										
											 
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>
												<else />	
												<div class="form-group">
												 <label class="col-sm-3 control-label no-padding-right" for="form-field-1" style="">旧密码</label>
												 <div class="col-sm-9">
											<input value="" type="password" id="old_password" placeholder="" name="old_password" data-mes="" class="col-xs-10 col-sm-5" />
										</div>
											 </div>
											  <fieldset id="fieldset" >
											 <div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">新密码</label>
									
										<div class="col-sm-9">
											<input type="password" id="password" placeholder="" name="password" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-3 control-label no-padding-right" for="form-field-1">重复新密码</label>
									<input type="hidden" name="id" id="id" value="{$list.id}" /> 
										<div class="col-sm-9">
											<input type="password" id="confirm_password" placeholder="" name="confirm_password" class="col-xs-10 col-sm-5" />
										</div>
									</div>
									<div class="clearfix form-actions">
										<div class="col-md-offset-3 col-md-9">
										
										<if condition="$list.id eq '' "> 
													<button class="btn btn-info submit" type="button">
												<i class="icon-ok bigger-110"></i>
												提交	
											</button>	 
														<else />
													<button class="btn btn-info save_password" type="button">
												<i class="icon-ok bigger-110"></i>
												修改
											</button>	 
														</if>
										
											

											&nbsp; &nbsp; &nbsp;
											<button class="btn" type="reset">
												<i class="icon-undo bigger-110"></i>
												重置
											</button>
										</div>
									</div>
											 </if>	
									</fieldset>
			 			 
									</form>
											</div>
									 
							 
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				  
			</div><!-- /.main-container-inner -->


		</div> 

		<script>
		 //检测旧密码是否正确
		$('#old_password').change(function(){
			    var old_password = $("#old_password").val();
				var id = $('#id').val();
				var data = "id="+id+"&old_password="+old_password;
				 $.ajax({
				     url:"{:u(CONTROLLER_NAME . '/check_old_password')}",
				     type:"POST",
				     dataType:"json",
				     data:data,
				     success:function(res){
				   	 if(res.result == 'success'){
				    	 toastr.success("旧密码正确", opts);
				    	 $('#old_password').attr('data-mes','suc');
				    	 $('#fieldset').prop({disabled: false});
				  		}
				   	 if(res.result == 'error'){
				  		toastr.error("旧密码不正确", opts);
				  		 $('#fieldset').prop({disabled: true});
				  	    }
				     }
				  });
		});
		 //修改密码
		$('.save_password').click(function(){
			var confirm_password = $('#confirm_password').attr('aria-invalid');
			var password = $('#password').attr('aria-invalid');
			if(confirm_password == 'false' && password == 'false'){
				var ord_data_mes = $('#old_password').attr('data-mes');
				 if(ord_data_mes == 'suc'){
				  var old_password = $("#old_password").val();
				  var password = $("#password").val();
				  if(old_password == password){
					  toastr.error("新密码与旧密码不能相同", opts);
					  return false;
				  }else{
					   var id = $('#id').val();
					   var data = "id="+id+"&password="+password;
					  $.ajax({
					     url:"{:u(CONTROLLER_NAME . '/save_password')}",
					     type:"POST",
					     dataType:"json",
					     data:data,
					     success:function(res){
					    if(res.result == 'success'){
					    	alert("密码修改成功，请使用新密码");
					    	  location.href="{:u(CONTROLLER_NAME . '/index')}"
					         }
					    if(res.result == 'error'){
					         toastr.error("密码修改失败，请重新修改", opts);
					      }
					     
					     }
					  });
				  }
			 }else{
				 toastr.error("请检查密码", opts);
			 }
		}else{
			toastr.error("请输入至少6个字符长度，相同的密码", opts);
			return false;
		}
		})
		  //设置新密码
		$('.submit_save').click(function(){
			var confirm_password = $('#confirm_password').attr('aria-invalid');
			var password = $('#password').attr('aria-invalid');
			if(confirm_password == 'false' && password == 'false'){
			var data = $(".form-horizontal").serialize()+"&confirm_password="+$('#confirm_password').val();
				 $.ajax({
					    url:"{:u(CONTROLLER_NAME . '/set_new_pass')}",
					     type:"POST",
					     dataType:"json",
					     data:data,
					     success:function(res){
					    	if(res['result'] == "success"){
					    		alert("密码设置成功");
					    	    location.href="{:u(CONTROLLER_NAME . '/index')}"
					       }
					    	if(res['result'] == "error"){
					    		toastr.success("两次密码不一致，操作失败", opts);
					    	  
					       }
					     }
					   });
			}else{
				toastr.error("请输入至少6个字符长度，相同的密码", opts);
				 return false;
			}
			
			})
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

	 

		<include file="common:footer" />