<include file="common:header" />
<body>
  <style>
.main-content {
  margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    min-height: 100%;
    padding: 0;
}
</style>
<div class="main-container" id="main-container">
  <div class="main-container-inner">  
    <div class="main-content">
      <div class="page-content">
        <div class="row">  	
          <div class="col-xs-12">
            <div class="widget-box transparent" id="recent-box">
              <div class="widget-header">
                <div class="widget-toolbar no-border">


                  <ul class="nav nav-tabs" id="recent-tab">
                   
                    <li class="active"><a href="{:U(CONTROLLER_NAME.'/index')}">回收站-员工信息</a></li>

                  </ul>
                </div>
              </div>
            </div>
            <br>
            <div class="main-container" id="main-container"> 
              <script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>
              <div>
                <form action="{:u(CONTROLLER_NAME.'/index')}">
                  <input style="margin: 0px 0 0 0; float: left;" value=""
											type="text" id="searchName" placeholder="" name="searchName" />
                    <select class="search_select_menu" name="searchCondition">
                        <option value="0">姓名</option>
                        <option value="1">手机号</option>
                        <option value="2"> 职位名称</option>
                    </select>
                  <a class="search" href="javascript:$('form').submit()">搜索</a>
                  <div style="clear: both;"></div>
                </form>
              </div>
              <br>

              <div class="main-container-inner">
                <div class="row">
                  <div class="col-xs-12"> 
                    <!-- PAGE CONTENT BEGINS -->
                      <a href="#" class="all_val" >批量恢复</a>
                    <div class="table-responsive">
                      <table id="sample-table-1"
						 class="table table-striped table-bordered table-hover">
                        <thead>
                          <tr>
                            <th class="center"><label >
                               <input type="checkbox" class="ace chkall" id="" onclick="selectall('id[]');">
                                <span class="lbl"></span></label></th>
                            <!--  ["Section"] => string(12) "所属部门"
                              ["PositionName"] => string(12) "职位名称"
                              ["Name"] => string(6) "姓名"
                              ["Sex"] => string(6) "性别"
                              ["Birthday"] => string(12) "出生年月"
                              ["Mobile"] => string(13) " 手机号码"
                              ["IsTrain"] => string(18) "是否通过培训"-->

                            <td>所属部门</td>
                            <td>职位名称</td>
                              <td>姓名</td>
                              <td>性别</td>
                            <td>出生年月</td>
                            <td>手机号码</td>
                              <td> 是否通过培训</td>
                            <td>操作</td>
                          </tr>
                        </thead>
                        <tbody>
                          <volist name="list" id="vo">
                            <tr>
                              <input type="hidden" name="id" id="id" value="{$vo.id}" />

                              <td class="center"><label>
                                  <input type="checkbox" name="checkbox" value="{$vo.id}" id="style_val" class="ace box" />
                                  <span class="lbl"></span> </label></td>
                                <td>{$vo.section_id}</td>
                                <td>{$vo.positionname}</td>
                                <td>{$vo.name}</td>
                                <td><if condition="$vo['sex'] eq 0 ">男<else />女</if></td>
                                <td>{$vo.birthday|date="Y-m-d",###} </td>
                                <td>{$vo.mobile}</td>
                                <td><if condition="$vo['istrain'] eq 0 ">否<else />是</if> </td>
                                <td> <a href="{:u(CONTROLLER_NAME . '/look')}?id={$vo.id}&look=false">[查看详细]</a>

                                    <a href="#" class="del" data-id="{$vo.id}">[恢复删除]</a>
                                </td>
                             <!-- <td><span style="color:#999;">{$vo.id}</span></td>
                              <td>{$vo.name}</td>
                              <td class="hidden-480"><img src="{$vo.head}" width="50" /></td>
                               <td ><if condition="$vo['pass_initialize'] eq 0 ">
                              
                                {$vo.pass_text}
                                 <else />
                             		    已修改初始密码
                                  </if>
                                  </td>
                                <td> {$vo.grade}</td>
                              &lt;!&ndash;td><label> <input name="status"
										class="ace ace-switch ace-switch-6" type="checkbox"
										id="show_{$vo.id}"
										onChange="show_change('{$vo['id']}')"
																
                                  <if condition="$vo.status eq 1 ">checked="checked"
                                    <else />
                                  </if>
                                  /> <span class="lbl"></span> </label></td&ndash;&gt;
                              <td class="hidden-480"> {$vo.date|date="Y-m-d H:i:s",###} </td>
                              <td><div
																	class="visible-md visible-lg hidden-sm hidden-xs btn-group"> <a
																		href="{:u(CONTROLLER_NAME . '/save_data')}?id={$vo.id}"
																		class="btn btn-xs btn-info"> <i
																		class="icon-edit bigger-120">编辑</i> </a>
                                  <button type="button" class="btn btn-xs btn-danger"
																		data-toggle="modal" data-target=".bs-example-modal-sm"> <i class="icon-trash bigger-120 del"
																			data-id="{$vo.id}">删除</i> </button>
																			<a type="button" href="{:u(CONTROLLER_NAME . '/password')}?id={$vo.id}" class="btn btn-xs btn-success "><span class="icon-lock bigger-120 ">修改密码</span> </a>
																			&lt;!&ndash; <a type="button" href="{:u(CONTROLLER_NAME . '/head')}?id={$vo.id}" class="btn btn-xs btn-warning "><span class="icon-picture bigger-120 ">头像设置</span> </a> &ndash;&gt;
                                </div></td>	-->
                            </tr>
                          </volist>
                        </tbody>
                      </table>
                      <p style="text-align: center; color: #f00;">{$not_found}</p>
                      <ul style="line-height: 30px;" class="fy_li">
                        {$page}
                      </ul>
                    </div>
                   
                    <!-- /.table-responsive --> 
                    
                    <script type="text/javascript">
                    //搜索表单判断
                    /*$('.search').click(function () { 
                    	var name = $('#name').val();
                    	if(name == ""){
                    		alert('请输入您要搜索的数据！');
                    		$('#name').focus();
                    		return false;
                    	}
                     });*/
                    //checkbox全选
                    $(".chkall").click(function () { 
                    	var checked = $(this).prop("checked");
                    	$('.box').prop("checked",checked);
                    });
                  //全部删除按钮为空判断
                    $(".all_val").click(function () { 
                    	var list = new Array();
                    	$("input[id='style_val']:checked").each(
								function() {
									list.push($(this).val());
								 }); 
                    	if(list == ''){
                    		alert('请选择您要删除的数据！');
                    		return false;
                    	}else{
                            allDelete();
                        }
                    });
                    //执行全部删除方法
                   function allDelete(){
                        if(confirm("确定要删除？")){
                    	var list = new Array();
                    	$("input[id='style_val']:checked").each(
								function() {
									list.push($(this).val());
								 }); 
                    	 var data = "list="+list.join(',')+"&param=2&status=1";
                    	  $.ajax({
            			     url:"{:u(CONTROLLER_NAME . '/alterStatus')}",
            			     type:"POST",
            			     dataType:"json",
            			     data:data,
            			     success:function(res){
            			    if(res.result == 'success1'){
            			          alert("操作成功！");
            			            location.reload();
            			         // location.href="{:u('/home/index/cc')}"
            			         }else{
            			        alert("操作失败！");
            			      }

            			     }
            			   });
                        }
                    };
                    
         //设置密码
          $('.set_pass').click(function(){
        	  var status = $(this).attr('data-status');
        	  var id = $(this).attr('data-id');
        	  var data = $(".form-horizontal").serialize()+"&status="+status+"&id="+id;
        	  //alert(data);
		  $.ajax({
			     url:"{:u(CONTROLLER_NAME . '/password')}",
			     type:"POST",
			     dataType:"json",
			     data:data,
			     success:function(res){
			    if(res.result == 'success'){
			           location.reload() 
			         }else{
			        alert("操作失败");
			      }
			     
			     }
			    });
		 // $('.del_id').attr('data-cid',id);
	  });
       //获取删除id

	  //执行单条数据删除方法
	  $('.del').click(function(){
          if(confirm("确定要恢复删除？")) {
              var id = $(this).attr('data-id');
              $.ajax({
                  url: "{:u(CONTROLLER_NAME . '/alterStatus')}",
                  type: "POST",
                  dataType: "json",
                  data: $(".form-horizontal").serialize() + "&id="+id+"&status=1&param=1",
                  success: function (res) {
                      if (res.result == 'success') {
                          alert("操作成功！");
                          location.reload();
                      } else {
                          alert("操作失败！");
                      }

                  }
              });
          }
	  });
	  //状态开关
	  function show_change(id){
		  var show = document.getElementById("show_"+id).checked == true ? '1':'0';
		   $.ajax({
		    url:"{:U(CONTROLLER_NAME . '/show_change')}", // 表单提交的地址
		    type: 'POST',
		    dataType: 'json',
		    data:'id='+id+'&status='+show, // 表单提交的数据
		    success:function(res){
			 }
		  });
		}
		 </script> 
                    
                    <!-- PAGE CONTENT ENDS --> 
                  </div>
                  <!-- /.col --> 
                </div>
                <!-- /.row --> 
                
              </div>
              <!-- /.main-container-inner --> 
              
            </div>
            <!-- /.main-container --> 
          </div>
        </div>
        <!-- /.row --> 
      </div>
      <!-- /.page-content --> 
    </div>
    <!-- /.main-content --> 
    
  </div>
  <!-- /.main-container-inner --> 
  
  </div>
<include file="common:footer" />
